<p>Add New Candidate</p>

<div class="form-group">
    <label for="name"> Name </label>
    <input type="text" class="form-control" id="name"  [(ngModel)]="candidate.name" name="name">
    <label for="pesel">Pesel</label>
    <input type="number" class="form-control" id="pesel"  [(ngModel)]="candidate.pesel" name="pesel">
</div>
<button type="button" (click)="goBack()">go back</button>

<a routerLink="/newCandidateConfirmation"> 
<button type="button" (click)="postNewCandidate()"  >Add</button>
</a>