<p>Candidate List </p>
<button type="button" (click)="goBack()">go back</button>

<table>
<tr>
    <th>ID</th>
    <th>Name</th>
</tr>
    <tr *ngFor="let candidate of candidates">
        <td> <span >{{candidate.id}}</span></td>
        <td> <span >{{candidate.name}}</span></td>      
        <td> <a routerLink="/candidate/detail/{{candidate.id}}"> <button> Edit </button></a></td>
    </tr>
</table>


<a routerLink="/addCandidate"> 
    <button type="button">Add Candidate</button>
 </a> 
   
 
 