<p>Voters List</p>

<button type="button" (click)="goBack()">go back</button>
<ul>
    <li *ngFor="let voter of voters">
<a routerLink="/detail/{{voter.id}}">
    <span >{{voter.id}}</span>
</a>

        <!-- <button [class.selected]="voter === selectedVoter"  type ="button" (click)="onSelect(voter)">
            <span>ID: {{voter.id}} </span>
            <label for="cos" >Voter name: </label> 
            <input id="name" [(ngModel)]="voter.name" placeholder="name"> 
            <span>Name: {{voter.name |uppercase}} </span>
            <span>Pesel: {{voter.pesel}} </span>
        </button> -->
    </li>
</ul>

<!-- <app-voter-details [selectedVoter]="selectedVoter"></app-voter-details> -->

