@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

footer{
    background:papayawhip;
    position: absolute;
    bottom: 0;
    width: 100%;
height: 100px;
    margin: 0;
}