<div class="nav">
    <nav>
        <h2 class="logo">Voting<span>App</span></h2>
        <ul>
            <li><a (click)="getVoters()"> Voters</a>        </li>
            <li> <a>Candidates</a></li>
            <li><a>Vote</a></li>
            <li> <a>Reports</a></li>
        </ul>
        <button type="button">Sing In</button>
    </nav>


    <div class="content" *ngIf="voters.length > 0">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pesel</th>
            </tr>
            
                <tr *ngFor="let voter of voters">
            <td>   <span > {{voter.id}}</span></td>
            <td>   <span> {{voter.name | uppercase}} </span></td>
            <td><span>  {{voter.pesel}}</span></td>
            <td>   <a routerLink="/voter/detail/{{voter.id}}">
                <button type="button" >Edit </button>
            </a></td>
                </tr>
            </table>
    </div>
</div>



<div class="chat-popup" >
    <button type="button">Lets talk</button>
</div>


