.page{
    background-color: #EDEAE9 ;
    vertical-align:middle;
    align-content: center;
}

.link{
  
    display: flex;
    justify-content: center;
    flex-direction:  row;
}
.link:hover{
    background-color: lightgray;
}

